%% -*- mode: erlang -*-
{deps,
    [ {educkdb, {git, "https://github.com/mmzeeman/educkdb.git", {branch, "master"}}}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.5.0"}}},
    {erlfmt, "1.3.0"}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {emqx_duckdb, "0.0.1"},
            [ emqx_duckdb
            , educkdb
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       , {include_src, false}
       ]}.

{emqx_plugrel,
    [ {authors, ["Yeah"]}
    , {builder,
        [ {name, "Yeah"}
        , {contact, "506895667@qq.com"}
        , {website, "http://github.com/yeahbai08"}
        ]}
    , {repo, "https://github.com/yeahbai08/emqx_duckdb"}
    , {functionality, ["DuckDB plugin for EMQX."]}
    , {compatibility,
        [ {emqx, "~> 5.8"}
        ]}
    , {description, "DuckDB plugin for EMQX."}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.

{dialyzer, [{warnings, [no_unknown]}]}.
